@import 'styles/color.scss';
@import 'styles/mixins.scss';

editor-squiggler {
  display: none;
}

.input {
  border-radius: 10px;
  border: 2px solid $blue-water;
  padding: 5px;
  width: 300px;
  font-size: 20px;

  @include media-breakpoint-only(xs) {
    width: 50%;
  }

  &:focus {
    outline: none;
  }
}
