@import 'styles/color.scss';

.btn {
  border-radius: 10px;
  border: none;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  padding: 5px;
  width: 213px;
  margin: auto;
  cursor: pointer;
  background-color: $blue-water;
  color: white;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0px 2px 0px $blue-water;
  }
}
